.button-shadow {
    box-shadow: var(--button-shadow);
}

.button {
    @apply bg-back w-14 aspect-square text-center min-[1275px]:w-12;
    box-shadow: var(--button-shadow);
}

.button-hover:hover {
    @apply translate-x-0.5 translate-y-0.5;
    box-shadow: none;
}

.button:hover {
    @apply translate-x-0.5 translate-y-0.5;
    box-shadow: none;
}
