

.raid-box-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 240px));
}


/*magic numbering this. didn't find a better solution*/

.raid-box {
    width: fit-content;
}

@media (min-width: 540px) {
    .raid-box {
        width: 100%;
        max-width: 550px;
    }
}

@media (min-width: 792px) {
    .raid-box {
        width: 100%;
        max-width: 802px;
    }
}

@media (min-width: 1044px) {
    .raid-box {
        width: 100%;
        max-width: none;
    }
}



/*@media (min-width: 550px) {*/
/*    .raid-grid {*/
/*        grid-template-columns: repeat(2, minmax(0, 350px));*/
/*    }*/
/*}*/

/*@media (min-width: 990px) {*/
/*    .raid-grid {*/
/*        grid-template-columns: repeat(2, minmax(0, 1fr));*/
/*    }*/
/*}*/