.raid-grid {
    grid-template-columns: minmax(0, 350px);
}

@media (min-width: 550px) {
    .raid-grid {
        grid-template-columns: repeat(2, minmax(0, 350px));
    }
}

@media (min-width: 990px) {
    .raid-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}