.nav {
    --select-modal-bottom: auto;
    --select-modal-top: 4rem;
    --select-modal-right: 0;
    --select-modal-left: auto;
}

.nav-button {
    @apply h-16;
}

.nav-button:hover {
    @apply bg-fore text-back fill-back;
}

.h-screen-dynamic {
    min-height: 100vh;
}

.menu {
    @apply flex-col-reverse fixed bottom-4 right-6;
    --select-modal-bottom: 0;
    --select-modal-top: auto;
    --select-modal-right: 0;
    --select-modal-left: auto;
}

.navbar-desktop {
    @apply hidden;
}

.navbar-mobile {
    @apply flex;
}

@media (min-width: 720px) {
    .navbar-desktop {
        @apply flex;
    }

    .navbar-mobile {
        @apply hidden;
    }
}

@media (min-width: 1024px) {
}
